@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "flowbite";

.required:after {
  content: " *";
  color: red;
}

.sr-only{
  display: none !important;
}